/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

a{
  color:#fff;
  text-decoration: none;
}

a:active {
    font-weight:bold;
}

body, #nav, #chakra{
  color:#222;
  font-family: 'Work Sans', sans-serif;
}

p{
  font-size: 1.2em;
  line-height: 1.35em;
}

#intro{
	  font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 1.25em;
    max-width: 600px;
    color:#fff;
    text-align:center;
    margin:auto;
    /*background-color:#ea6fa5;*/
}

ul{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size:15px; 
}

h1{
  font-family:'Merriweather', slab-serif;
  font-size:2em;
  margin:0 auto;
}

h2{
  font-family:'Merriweather', slab-serif;
  font-size:2em;
} 

h3{
  font-weight:normal;
}

h4{
  font-size:1.2em;
  font-weight:600;
}

.bold{
	font-weight:600;
}

#flex-fix{
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
}

#nav{
  width:30%;
  position:fixed;
}
  /*display:fixed;
  margin-top:25%;

  */
/*#nav-tmp{
  margin-top:25%;
  width:25%;
}*/

#nav ul{
  display:block;
}

#nav li{
  list-style:none;
  line-height:1.35em;
  padding:0;
}

/*#section-one{
  color:#F093F0;
}*/

/******************************************
/* LAYOUT
/*******************************************/

.masthead {
  display:flex;
  position:relative;
  height:100%;
  background-color:#222;
  z-index: 999;
}

.container{
  display:flex;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  height:100%;
  justify-content:flex-end;
  z-index:-10;
}

.chakra{
  width:70%;
  margin-left:10%;
}

#section-one, #section-two, #section-three, #section-four,
#section-five, #section-six, #section-seven{
  height:100vh;
  width: 70%;
  margin-top:40%;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media (max-device-width:768px), (max-width:768px){

#nav, #flex-fix{
  display:none;
}

#section-one, #section-two, #section-three, #section-four,
#section-five, #section-six, #section-seven{
  width: 100%;
  height: 100%;
  justify-content:flex-end;
}


/*end media query*/
}